[submodule "hugo-developer-portfolio"]
	path = hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
[submodule "themes/hugo-developer-portfolio"]
	path = themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
[submodule "themes/themes/hugo-PaperMod"]
	path = themes/themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
